# CALIDAD DE DATOS

## IMPORTAR PAQUETES

In [2]:
import numpy as np
import pandas as pd
from janitor import clean_names

#Automcompletar r√°pido
%config IPCompleter.greedy=True

## IMPORTAR LOS DATOS

Sustituir la ruta del proyecto.

In [3]:
ruta_proyecto = 'C:/Usuarios/Alfredo/DS4B/Python DS Mastery/EstructuraDirectorio/03_MACHINE_LEARNING/07_CASOS/01_LEADSCORING'

Sustituir el nombre_fichero_datos.

In [4]:
nombre_fichero_datos = 'trabajo.csv'

Cargar los datos.

In [5]:
ruta_completa = ruta_proyecto + '/02_Datos/03_Trabajo/' + nombre_fichero_datos

df = pd.read_csv(ruta_completa,index_col='id')
df

,origen,fuente,no_enviar_email,no_llamar,compra,visitas_total,tiempo_en_site_total,paginas_vistas_visita,ult_actividad,ambito,ocupacion,conociste_google,conociste_revista,conociste_periodico,conociste_youtube,conociste_facebook,conociste_referencias,score_actividad,score_perfil,descarga_lm
id,,,,,,,,,,,,,,,,,,,,
660737,API,Chat,No,No,0,0.0,0,0.0,Page Visited on Website,Select,Unemployed,No,No,No,No,No,No,15.0,15.0,No
660728,API,Organic Search,No,No,0,5.0,674,2.5,Email Opened,Select,Unemployed,No,No,No,No,No,No,15.0,15.0,No
660727,Landing Page Submission,Direct Traffic,No,No,1,2.0,1532,2.0,Email Opened,Business Administration,Student,No,No,No,No,No,No,14.0,20.0,Yes
660673,Landing Page Submission,Google,No,No,1,2.0,1640,2.0,Email Opened,Supply Chain Management,Unemployed,No,No,No,No,No,No,14.0,20.0,No
660664,API,Chat,No,No,0,0.0,0,0.0,Chat Conversation,NaN,NaN,No,No,No,No,No,No,15.0,15.0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
579615,Landing Page Submission,Direct Traffic,No,No,1,5.0,210,2.5,SMS Sent,Business Administration,Unemployed,No,No,No,No,No,No,14.0,20.0,No
579546,Landing Page Submission,Direct Traffic,No,No,0,2.0,238,2.0,SMS Sent,Media and Advertising,Unemployed,No,No,No,No,No,No,14.0,19.0,Yes
579545,Landing Page Submission,Direct Traffic,Yes,No,0,2.0,199,2.0,SMS Sent,Business Administration,Unemployed,No,No,No,No,No,No,13.0,20.0,Yes
579538,Landing Page Submission,Google,No,No,1,3.0,499,3.0,SMS Sent,Human Resource Management,NaN,No,No,No,No,No,No,15.0,16.0,No
579533,Landing Page Submission,Direct Traffic,No,No,1,6.0,1279,3.0,SMS Sent,Supply Chain Management,Unemployed,No,No,No,No,No,No,15.0,18.0,Yes

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6365 entries, 660737 to 579533
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   origen                 6365 non-null   object
 1   fuente                 6344 non-null   object
 2   no_enviar_email        6365 non-null   object
 3   no_llamar              6365 non-null   object
 4   compra                 6365 non-null   int64
 5   visitas_total          6277 non-null   float64
 6   tiempo_en_site_total   6365 non-null   int64
 7   paginas_vistas_visita  6277 non-null   float64
 8   ult_actividad          6303 non-null   object
 9   ambito                 5357 non-null   object
 10  ocupacion              4480 non-null   object
 11  conociste_google       6365 non-null   object
 12  conociste_revista      6365 non-null   object
 13  conociste_periodico    6365 non-null   object
 14  conociste_youtube      6365 non-null   object
 15  conociste_facebook     6365 non-null   object
 16  conociste_referencias  6365 non-null   object
 17  score_actividad        3448 non-null   float64
 18  score_perfil           3448 non-null   float64
 19  descarga_lm            6365 non-null   object
dtypes: float64(4), int64(2), object(14)
memory usage: 1.0+ MB

Los nombres de las variables ya est√°n bien. No es necesario el paso de correcci√≥n de nombres

## VISI√ìN GENERAL

In [7]:
df.head()

,origen,fuente,no_enviar_email,no_llamar,compra,visitas_total,tiempo_en_site_total,paginas_vistas_visita,ult_actividad,ambito,ocupacion,conociste_google,conociste_revista,conociste_periodico,conociste_youtube,conociste_facebook,conociste_referencias,score_actividad,score_perfil,descarga_lm
id,,,,,,,,,,,,,,,,,,,,
660737,API,Chat,No,No,0,0.0,0,0.0,Page Visited on Website,Select,Unemployed,No,No,No,No,No,No,15.0,15.0,No
660728,API,Organic Search,No,No,0,5.0,674,2.5,Email Opened,Select,Unemployed,No,No,No,No,No,No,15.0,15.0,No
660727,Landing Page Submission,Direct Traffic,No,No,1,2.0,1532,2.0,Email Opened,Business Administration,Student,No,No,No,No,No,No,14.0,20.0,Yes
660673,Landing Page Submission,Google,No,No,1,2.0,1640,2.0,Email Opened,Supply Chain Management,Unemployed,No,No,No,No,No,No,14.0,20.0,No
660664,API,Chat,No,No,0,0.0,0,0.0,Chat Conversation,NaN,NaN,No,No,No,No,No,No,15.0,15.0,No

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6365 entries, 660737 to 579533
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   origen                 6365 non-null   object
 1   fuente                 6344 non-null   object
 2   no_enviar_email        6365 non-null   object
 3   no_llamar              6365 non-null   object
 4   compra                 6365 non-null   int64
 5   visitas_total          6277 non-null   float64
 6   tiempo_en_site_total   6365 non-null   int64
 7   paginas_vistas_visita  6277 non-null   float64
 8   ult_actividad          6303 non-null   object
 9   ambito                 5357 non-null   object
 10  ocupacion              4480 non-null   object
 11  conociste_google       6365 non-null   object
 12  conociste_revista      6365 non-null   object
 13  conociste_periodico    6365 non-null   object
 14  conociste_youtube      6365 non-null   object
 15  conociste_facebook     6365 non-null   object
 16  conociste_referencias  6365 non-null   object
 17  score_actividad        3448 non-null   float64
 18  score_perfil           3448 non-null   float64
 19  descarga_lm            6365 non-null   object
dtypes: float64(4), int64(2), object(14)
memory usage: 1.0+ MB

La variable "descarga_lm" es si decarg√≥ lo que se llama "Lead magnet" por lo gral es un pdf de inter√©s, 
donde ten√©s que llenar con tus datos para pode descargarlo

## TIPOS DE DATOS

### Identificaci√≥n

In [9]:
df.dtypes

origen                    object
fuente                    object
no_enviar_email           object
no_llamar                 object
compra                     int64
visitas_total            float64
tiempo_en_site_total       int64
paginas_vistas_visita    float64
ult_actividad             object
ambito                    object
ocupacion                 object
conociste_google          object
conociste_revista         object
conociste_periodico       object
conociste_youtube         object
conociste_facebook        object
conociste_referencias     object
score_actividad          float64
score_perfil             float64
descarga_lm               object
dtype: object

### Correcci√≥n

In [10]:
df = df.astype({'visitas_total':'Int64'})

df.dtypes

origen                    object
fuente                    object
no_enviar_email           object
no_llamar                 object
compra                     int64
visitas_total              Int64
tiempo_en_site_total       int64
paginas_vistas_visita    float64
ult_actividad             object
ambito                    object
ocupacion                 object
conociste_google          object
conociste_revista         object
conociste_periodico       object
conociste_youtube         object
conociste_facebook        object
conociste_referencias     object
score_actividad          float64
score_perfil             float64
descarga_lm               object
dtype: object

## VALORES √öNICOS

### Identificaci√≥n

In [11]:
df.nunique().sort_values()

conociste_youtube           1
conociste_revista           1
descarga_lm                 2
conociste_referencias       2
no_enviar_email             2
no_llamar                   2
compra                      2
conociste_facebook          2
conociste_periodico         2
conociste_google            2
origen                      4
ocupacion                   6
score_perfil               10
score_actividad            12
fuente                     14
ult_actividad              16
ambito                     19
visitas_total              38
paginas_vistas_visita      98
tiempo_en_site_total     1580
dtype: int64

Tengo valores √∫nicos en las variables "conociste_youtube" y "conociste_revista"

Por tanto no aportan valor y los elimino.

Lo compruebo:

In [12]:
df.conociste_youtube.value_counts()

conociste_youtube
No    6365
Name: count, dtype: int64

In [13]:
df.conociste_revista.value_counts()

conociste_revista
No    6365
Name: count, dtype: int64

### Correcci√≥n

In [14]:
df.drop(columns = ['conociste_youtube','conociste_revista'], inplace = True)

## DUPLICADOS

### Identificaci√≥n

In [16]:
df.duplicated().sum()

1053

In [22]:
df[df.duplicated() == True]

,origen,fuente,no_enviar_email,no_llamar,compra,visitas_total,tiempo_en_site_total,paginas_vistas_visita,ult_actividad,ambito,ocupacion,conociste_google,conociste_periodico,conociste_facebook,conociste_referencias,score_actividad,score_perfil,descarga_lm
id,,,,,,,,,,,,,,,,,,
660153,API,Chat,No,No,0,0,0,0.0,Chat Conversation,NaN,NaN,No,No,No,No,17.0,15.0,No
660128,API,Chat,No,No,0,0,0,0.0,Chat Conversation,NaN,NaN,No,No,No,No,17.0,15.0,No
659700,API,Chat,No,No,0,0,0,0.0,Chat Conversation,NaN,NaN,No,No,No,No,17.0,15.0,No
659545,API,Chat,No,No,0,0,0,0.0,Chat Conversation,Select,Unemployed,No,No,No,No,15.0,15.0,No
658620,API,Chat,No,No,0,0,0,0.0,Email Opened,Select,Unemployed,No,No,No,No,14.0,15.0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
580381,API,Chat,No,No,0,0,0,0.0,SMS Sent,NaN,NaN,No,No,No,No,14.0,15.0,No
580377,API,Chat,No,No,0,0,0,0.0,Chat Conversation,NaN,NaN,No,No,No,No,17.0,15.0,No
580181,API,Chat,No,No,1,0,0,0.0,SMS Sent,NaN,NaN,No,No,No,No,16.0,15.0,No
580141,API,Chat,No,No,0,0,0,0.0,Email Opened,Select,Unemployed,No,No,No,No,17.0,16.0,No
579979,API,Chat,No,No,1,0,0,0.0,SMS Sent,NaN,NaN,No,No,No,No,16.0,15.0,No

### Correcci√≥n

In [23]:
df.drop_duplicates(inplace = True)

## SEPARAR NUM√âRICAS Y CATEG√ìRICAS

### Categ√≥ricas

In [29]:
cat = df.select_dtypes(exclude = 'number').copy()

### Num√©ricas

In [71]:
num = df.select_dtypes(include='number').copy()

## GESTI√ìN DE CATEG√ìRICAS

### Nulos

#### Identificaci√≥n

In [31]:
cat.isna().sum().sort_values(ascending = False)

ocupacion                1367
ambito                    490
ult_actividad              62
fuente                     17
origen                      0
no_enviar_email             0
no_llamar                   0
conociste_google            0
conociste_periodico         0
conociste_facebook          0
conociste_referencias       0
descarga_lm                 0
dtype: int64

#### Correcci√≥n

##### Eliminar la variable

En este caso no voy a eliminar ninguna variable ni registros con nulos

In [18]:
#cat.drop(columns = 'dia_de_la_semana',inplace = True)

##### Eliminar registros

*Cuidado: Si se eliminan registros hay que eliminarlos tanto de cat como de num*

In [27]:
#criterio = 8 # ac√° va la cantidad de registros que no tienen nulos
#cat.dropna(thresh=criterio, inplace=True)
#num.dropna(thresh=criterio, inplace=True)

##### Imputar por un valor

In [32]:
df.ocupacion.value_counts()

ocupacion
Unemployed              3373
Working Professional     429
Student                  117
Other                     14
Housewife                  7
Businessman                5
Name: count, dtype: int64

Dado que el valor "Unemployed" est√° despegado, la variable "ocupaci√≥n" la imputo por la moda

In [33]:
df.ambito.value_counts()

ambito
Select                               851
Finance Management                   661
Human Resource Management            553
Marketing Management                 529
Operations Management                347
Business Administration              294
IT Projects Management               255
Supply Chain Management              241
Banking, Investment And Insurance    221
Media and Advertising                145
Travel and Tourism                   144
International Business               128
Healthcare Management                110
Hospitality Management                78
E-COMMERCE                            75
Retail Management                     72
Rural and Agribusiness                48
E-Business                            40
Services Excellence                   30
Name: count, dtype: int64

Si bien el valor "Select" no tiene muchos m√°s registros que el resto, de todas formas voy a imputar la variable
"ambito" por la moda, dado que Select es el valor por defecto cuando no se selecciona nada en el combo

In [34]:
df.ult_actividad.value_counts()

ult_actividad
Email Opened                    2025
SMS Sent                        1606
Page Visited on Website          448
Converted to Lead                299
Chat Conversation                290
Email Bounced                    211
Email Link Clicked               152
Form Submitted on Website         78
Unreachable                       66
Unsubscribed                      40
Had a Phone Conversation          22
View in browser link Clicked       5
Approached upfront                 5
Visited Booth in Tradeshow         1
Resubscribed to emails             1
Email Marked Spam                  1
Name: count, dtype: int64

En este caso los nulos en la variable "ult_actividad" no la puedo imputar por la moda. 
La voy a imputar por un valor desconocido

In [35]:
df.fuente.value_counts()

fuente
Google            1988
Direct Traffic    1772
Organic Search     829
Chat               333
Reference          224
Referral Sites      91
Facebook            42
bing                 4
Click2call           4
google               3
Press_Release        2
blog                 1
Social Media         1
youtubechannel       1
Name: count, dtype: int64

En este caso los nulos en la variable "fuente" no la puedo imputar por la moda. 
La voy a imputar por un valor desconocido

###### Variables a imputar

In [36]:
var_imputar_valor = ['ult_actividad','fuente']

###### Valor por el que imputar

In [37]:
valor = 'DESCONOCIDO'

###### Imputar

In [38]:
cat[var_imputar_valor] = cat[var_imputar_valor].fillna(valor)

##### Imputar por la moda

###### Variables a imputar

In [39]:
var_imputar_moda = ['ocupacion','ambito']

###### Funcion para imputar con la moda

In [40]:
def imputar_moda(variable):
    return(variable.fillna(variable.mode()[0]))

###### Imputar con la moda

In [41]:
cat[var_imputar_moda] = cat[var_imputar_moda].apply(imputar_moda)

compruebo

In [42]:
cat.isna().sum().sort_values(ascending = False)

origen                   0
fuente                   0
no_enviar_email          0
no_llamar                0
ult_actividad            0
ambito                   0
ocupacion                0
conociste_google         0
conociste_periodico      0
conociste_facebook       0
conociste_referencias    0
descarga_lm              0
dtype: int64

OJO que quedan variables sin imputar nulos, que en DS de trabajo no tengo, pero en el de producci√≥n s√≠ puedo tenerlo

### At√≠picos

#### Categor√≠as poco frecuentes

##### Funci√≥n para agrupar categor√≠as raras en 'OTROS'

In [43]:
def agrupar_cat_raras(variable, criterio = 0.05):
    #Calcula las frecuencias
    frecuencias = variable.value_counts(normalize=True)
    #Identifica las que est√°n por debajo del criterio
    temp = [cada for cada in frecuencias.loc[frecuencias < criterio].index.values]
    #Las recodifica en 'OTROS'
    temp2 = np.where(variable.isin(temp),'OTROS',variable)
    #Devuelve el resultado
    return(temp2)

##### Variables a imputar

In [45]:
# voy a imputar todas las variables categ√≥ricas
var_imputar_raro = cat.columns.to_list()

##### Aplicar

In [46]:
# considero las categor√≠as raras aquellas que est√°n por debajo del 2% de los registros
for variable in var_imputar_raro:
    cat[variable] = agrupar_cat_raras(cat[variable],criterio = 0.02)

## GESTI√ìN DE NUM√âRICAS

### Nulos

#### Identificaci√≥n

In [72]:
num.isna().sum().sort_values(ascending = False)

score_actividad          2336
score_perfil             2336
visitas_total              88
paginas_vistas_visita      88
compra                      0
tiempo_en_site_total        0
dtype: int64

A priori como no conozco la capacidad predictiva de las variables (aunque tenga varios registros nulos), 
no voy a eliminar ni regitros ni variables. 
Voy a imputar por la mediana (ya que no s√© si tienen una distribuci√≥n normal)

##### Imputar por la mediana

###### Variables a imputar

Como solamente me quedan dos variables sin nulos, y para hacerlo m√°s robusto en producci√≥n
(donde me pueden venir nulos en las variables "compra" y "tiempo_en_site_total", hago imputaci√≥n a todas las variables.

In [73]:
var_imputar_mediana = num.columns.to_list()

###### Funcion para imputar con la mediana

In [74]:
def imputar_mediana(variable):
    if pd.api.types.is_integer_dtype(variable):
        return(variable.fillna(int(variable.median())))
    else:
        return(variable.fillna(variable.median()))

###### Imputar con la mediana

In [75]:
num[var_imputar_mediana] = num[var_imputar_mediana].apply(imputar_mediana)

Verifico

In [76]:
num.isna().sum().sort_values(ascending = False)

compra                   0
visitas_total            0
tiempo_en_site_total     0
paginas_vistas_visita    0
score_actividad          0
score_perfil             0
dtype: int64

### At√≠picos

#### Por desviaci√≥n t√≠pica

##### Identificaci√≥n

###### Definir el n√∫mero de desviaciones t√≠picas

In [77]:
# 4 es un valor recomendado. En caso de tener pocos registros, se puede usar 3
num_desv_tip = 4

###### Funci√≥n que devuelve los √≠ndices de los at√≠picos

In [78]:
def atipicos_desv_tip(variable, num_desv_tip = 4):
    #sacamos los nulos por ahora
    variable = variable.dropna()
    #calculamos los l√≠mites
    media = np.mean(variable)
    sd = np.std(variable)
    umbral = sd * num_desv_tip
    lim_inf = media - umbral
    lim_sup = media + umbral
    #encontramos los √≠ndices de los que est√°n fuera de los l√≠mites
    indices = [indice for indice,valor in variable.items() if valor < lim_inf or valor > lim_sup]
    return(indices)

###### Funci√≥n que cuenta el n√∫mero de at√≠picos

In [79]:
def conteo_atipicos(df,variable, num_desv_tip = 4):
    atipicos = atipicos_desv_tip(df[variable], num_desv_tip)
    return(df.loc[atipicos,variable].value_counts())

###### Variables a aplicar

Lo aplico a todas las variables num√©ricas

In [80]:
var_atipicos_dt = num.columns.to_list()

###### Aplicar

In [81]:
for variable in var_atipicos_dt:
    print('\n' + variable + ':\n')
    print(conteo_atipicos(num,variable,num_desv_tip))

compra:

Series([], Name: count, dtype: int64)

visitas_total:

visitas_total
27     5
28     2
30     1
55     1
141    1
74     1
54     1
115    1
251    1
32     1
42     1
Name: count, dtype: Int64

tiempo_en_site_total:

Series([], Name: count, dtype: int64)

paginas_vistas_visita:

paginas_vistas_visita
11.00    13
14.00     6
13.00     4
15.00     2
12.00     2
55.00     1
16.00     1
12.33     1
11.50     1
Name: count, dtype: int64

score_actividad:

score_actividad
10.0    38
9.0      6
8.0      4
18.0     4
7.0      1
Name: count, dtype: int64

score_perfil:

Series([], Name: count, dtype: int64)

Para "visitas_total" tomo un l√≠mite de 50 como valor at√≠pico, y para "paginas_vistas_visita" un l√≠mite de 20.
Para "score_actividad" no elijo un l√≠mite porque no se bien como se calcula.
Con estos valores l√≠mite uso winsorizaci√≥n manual

#### Por winsorizaci√≥n manual para una variable

##### Identificaci√≥n

###### Variable a analizar

In [82]:
variable = ['visitas_total', 'paginas_vistas_visita']

###### Comprobar el m√≠nimo y m√°ximo actual

In [83]:
num[variable].describe().loc[['min','max']]

     visitas_total  paginas_vistas_visita
min            0.0                    0.0
max          251.0                   55.0

##### Correcci√≥n

###### Definir el m√≠nimo y m√°ximo tolerable.

In [84]:
minimo = 0
maximo_vt = 50
maximo_pvv = 20

In [86]:
num.shape

(5312, 6)

###### Aplicar

In [87]:
num['visitas_total'].clip(minimo,maximo_vt, inplace=True)
num['paginas_vistas_visita'].clip(minimo,maximo_pvv, inplace=True)

C:\Users\Poitou\AppData\Local\Temp\ipykernel_9228\329265771.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  num['visitas_total'].clip(minimo,maximo_vt, inplace=True)
C:\Users\Poitou\AppData\Local\Temp\ipykernel_9228\329265771.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  num['paginas_vistas_visita'].clip(minimo,maximo_pvv, inplace=True)

Compruebo que se hayan asignado los at√≠picos

In [90]:
num[variable].describe().loc[['min','max']]

     visitas_total  paginas_vistas_visita
min            0.0                    0.0
max           50.0                   20.0

Verifico que num y cat tengan la misma cantidad de registros

In [88]:
num.shape

(5312, 6)

In [89]:
cat.shape

(5312, 12)

## GUARDAR DATASETS TRAS CALIDAD DE DATOS

Guarda los avances en df, cat y num con un sufijo para poder guardar o recuperar avances del proyecto.

En formato pickle para no perder las modificaciones de metadatos.

### Definir los nombres de los archivos

In [91]:
ruta_trabajo = ruta_proyecto + '/02_Datos/03_Trabajo/' + 'trabajo_resultado_calidad.pickle'
ruta_cat = ruta_proyecto + '/02_Datos/03_Trabajo/' + 'cat_resultado_calidad.pickle'
ruta_num = ruta_proyecto + '/02_Datos/03_Trabajo/' + 'num_resultado_calidad.pickle'

### Guardar los archivos

In [92]:
df.to_pickle(ruta_trabajo)
cat.to_pickle(ruta_cat)
num.to_pickle(ruta_num)